<div class="ext-aggrid" data-mw-aggrid-options="{{options}}" aria-busy="true">
	<div class="ext-aggrid__skeleton" aria-hidden="true">
		<div class="ext-aggrid__skeleton-header"></div>
		<div class="ext-aggrid__skeleton-content"></div>
	</div>
</div>
